*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
}
.menu{
    position: fixed;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    background-color: rgba(39,13,24,0.4);
    z-index: 9999;
}
.menu a{
    color: white;
    font-family: arial;
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 7px;
    padding: 12px 12px;
    border-radius: 10px;
    transition: 0.5s;
}
nav a:hover{
    background-color: white;
    color: #270d18;
}
.page{
    height: 100%;
    background-color: #bd94db;
    background-size: cover;
    background-attachment: fixed;
}
.banner{
    height: 60%;
    background-color: #270d18;
}
#p1{
    background-image: url("photo/backgraund1.jpg");
}
#p3{
    background-image: url("photo/backgraund2.jpg");
}
#p5{
    background-image: url("photo/backgraund3.jpg");
}
#p6{
    height: 40%;
}
#p1 .filter{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: 0;
}
#p3 .filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 4;
    opacity: 0.7;
}
#p5 .filter{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}
#p1 .text{
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1;
    margin-top: 22%;
    text-align: center;
}
#p1 .text h1{
    color: #e6f6f7;
    font-size: 6em;
    font-family: calibri;
    padding-bottom: 35px;
}
#p1 .text p{
    color: white;
    font-size: 2em;
    font-family: calibri;
    letter-spacing: 8px;
}
.advancedSearch{
    position: absolute;
    width: 100%;
    height: 60%;
    margin: 8% 0 0 0;
    z-index: 9;
}
.bookshelf{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 8% 0 0 0;
    z-index: 7;
}
.bookshelfWall{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: white;
    opacity: 0.6;
}
.mainAdvCmbDesign{
    width: 230px;
    height: 25px;
    margin: 3px;
}
.mainAdvTextFieldDesign{
    width: 224px;
    height: 22px;
    margin: 3px;
}
.searchField{
    position: absolute;
    z-index: 10;
    height: 25px;
    width: 200px;
    letter-spacing: 1px;
    margin: 38px 0px 0px 1100px;
    border-radius: 5px;
}
#p6 #iconsId ul{
    margin: 0 0 0 350px;
    display: flex;
}
#p6 #iconsId ul li{
    margin: 50px;
    list-style: none;
    font-size: 50px;
    transition: .5s;
}
#p6 #iconsId ul li a{
    width: 55px;
    height: 55px;
    padding: 8px 0;
    display: block;
}
#p6 #iconsId ul li:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.6);
}